@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Patua', sans-serif;
}
h1, h2, h3, h4, h5{
    letter-spacing: 2px;
}

li, button, label, input, p{
    font-size: 1.4rem;
}
h1{
    font-size: 2,6rem;
    font-family: 'Work Sans', sans-serif;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
    font-weight: 500;
}
h4, h5{
    font-size: 2.8rem;
}

p{
    font-family: 'Work Sans', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #fd2a00;
}

button{
    padding: 2rem 6rem;
    background: #c72302;
    border: none;
    color: white;
    font-size: 1.8rem;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}
button:hover{
    background: #181818;
}


.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-head{
    background: #ffffff;
    color: #555555;
    border-bottom: 3px solid rgb(212, 21, 21);
    position: sticky;
    top: 0;
    z-index: 3;
}

nav{
    min-height: 10vh;
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    list-style: none;
    flex: 2 1 40rem;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    text-transform: uppercase;
    margin: 1rem;
}
.nav-links a{
    position: relative;
    text-decoration: none;
}
.nav-links a:hover{
    color: #000;
}
.nav-links a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fd2a00;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
.nav-links a:hover::before{
    visibility: visible;
    transform: scaleX(1);
}

#logo{
    flex: 1 1 25rem;
}

#logo img{
    max-height: 50px;
}

.hero{
    min-height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.8), transparent), url('./images/hwoodsign.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h2 span{
    color: #fd2a00;
}

.hero h3{
    padding: 5rem;
}

/* About */
.about{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.about-text{
    flex: 1 1 40rem;
    justify-content: space-around;
    background: #000000;
    color: white;
}

.about-text div{
    padding: 3rem 8rem;
}
.about-text h3{
    padding: 2rem 0rem;
    font-family: 'Montserrat', sans-serif;
}
.about-text h2{
    font-family: 'Montserrat', sans-serif;
    padding: 4rem;
    text-align: center;
}
.about-image{
    flex: 1 1 40rem;
    position: relative;
}
.about-image h5{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    letter-spacing: 1rem;
}
.about-image img{
    width: 100%;
    height: 100%;
    object-fit: auto;
}



/* locations */
#locations{
    min-height: 100vh;
    background: linear-gradient(rgba(209, 209, 209, 0.5), transparent);
    background-size: cover;
    background-position: center;
}

.locations-head{
    background: linear-gradient(rgba(219, 219, 219, 0.5), transparent);
    padding: 3rem;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #000000;
    text-align: center;
}
.locations-head h2{
    padding: 1rem 0rem;
    text-decoration: underline;
}
.locations-head h3{
    padding: 1rem;
}
.cards{
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    text-align: center;
    flex: 1 1 25rem;
    min-height: 40vh;
    margin: 2rem 5rem;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1), 0 20px 20px rgba(0,0,0,0.1);
}

.card h4{
    font-size: 2.5rem;
}

.card h4, .card p{
    padding: 1rem;
    line-height: 1.8;
    font-weight: 600;
    color: #000000;
}

.card p{
    font-size: 1.5rem;
}

.card button{
    margin: 4rem;
    padding: 1rem 3rem;
}
.cards img{
    max-width: 15%;
    margin: 2rem;
}
.card-icon{
    background: #ec2329;
    padding: 2rem 0rem;
}

.card-icon img{
    height: 50px;
}

/* Offices */

#offices{
    min-height: 100vh;
    background: linear-gradient(rgba(187, 187, 187, 0.5), transparent);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.office-head{
    background: linear-gradient(rgba(219, 219, 219, 0.5), transparent);
    padding: 3rem;
    margin-bottom: 7rem;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;
}

.office-cards{
    width: 90%;
    margin: auto;
    display: flex;
    min-height: 70vh;
    align-items: center;
    flex-wrap: wrap;
}
.office-card{
    text-align: center;
    flex: 1 1 25rem;
    min-height: 40vh;
    margin: 2rem 3rem;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1), 0 20px 20px rgba(0,0,0,0.1);
    transition: width 2s, height 2s;
}

.office-card:hover{
    width: 90%;
    height: 90%;
}
.card-icon{
    text-align: center;
}
.office-card h4{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 700;
}
.office-card p{
    padding: 1rem 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Comfortaa', sans-serif;
}
.office-card i{
    margin-right: 5px;
}
.office-card iframe{
    width: 100%;
}



/* Fleet page */


.fleet-head{
    background: linear-gradient(rgba(219,219,219,0.5), transparent);
    padding: 3rem;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fleet{
    min-height: 100vh;
    
}

.fleet-cards{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    width: 90%;
    margin-bottom: 5rem;
}
.fleet-card{
    flex: 0 1 25rem;
    margin-bottom: 3rem;;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    margin: auto;
    text-align: center;
    margin-bottom: 4rem;
}
.fleet-card img{
    display: block;
    border: 0;
    width: 100%;
    height: auto;
    filter: contrast(70%);
    transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
    overflow: hidden;
}

.thumbnail:hover{
    filter: contrast(100%);
}
.fleet-card__content{
    padding: 1.4rem;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}
.fleet-card__content h3{
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 300;
    font-size: 3.5rem;
    text-transform: uppercase;
}
.fleet-card__content p{
    flex: 1 1 auto;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

#fleet-btn{
    padding: 1rem 2rem;
    display: block;
    width: 100%;
    border-radius: 0;
}

/* Studio Rentals */
#rentals{
    min-height: 100vh;
    background: linear-gradient(rgba(187, 187, 187, 0.5), transparent);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.rentals-head{
    background: linear-gradient(rgba(219, 219, 219, 0.5), transparent);
    padding: 3rem;
    margin-bottom: 7rem;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;
}

.rentals-head h2{
    padding: 1rem 0rem;
    text-decoration: underline;
}
.rentals-head h4{
    padding: 1rem;
}

.studio-rentals{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.about-rentals{
    flex: 2 2 40rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    margin: 2rem;
    border: 1px solid #ec2329;
}
.about-rentals h4{
    margin-bottom: 2rem;
}
.about-rentals p{
    font-size: 1.5rem;
    font-family: 'Comfortaa', sans-serif;
}

.rental-services{
    flex: 1 1 20rem;
    background-color: #ffffff;
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
    border: 1px solid #ec2329;
}
.rental-services h4{
    margin-bottom: 2rem;
}
.rental-services li{
    padding: 2rem 1rem;
    margin-left: 1.2rem;
    font-size: 1.5rem;
    font-family: 'Comfortaa', sans-serif;
    text-transform: uppercase;
}
.rental-services p{
    padding: 2rem;
    font-size: 1.5rem;
    font-family: 'Comfortaa', sans-serif;
    text-decoration: underline;
    text-transform: uppercase;
}

/* Footer */

.footer-distributed{
    background: rgb(26, 26, 26);
    border-top: 2px solid #fd2a00;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px 'Comfortaa';
    padding: 55px 50px;
    margin-top: 5rem;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}
.footer-distributed .footer-left img{
    max-height: 80px;
    opacity: 0.9;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Work Sans', cursive;
    margin: 0;
    font-size: 2.4rem;
}

.footer-distributed h3 span{
    color:  #fd2a00;
    text-transform: uppercase;
    font-size: 4rem;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-links a:hover{
	color: #fd2a00;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #464646;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #fd2a00;
	text-decoration: none;
}

.footer-distributed .footer-center p a:hover{
	color:  #ffffff;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-company-name{
    color: #ffffff;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover{
    color: #fd2a00;
}


.burger{
    display: none;
}

/* Media Query */

@media screen and (min-width: 40rem) {
    .fleet-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .fleet-card{
        flex: 0 1 calc(33% - 1em);
    }
}

@media screen and (max-width: 886px) {
    .burger{
        position: relative;
        display: block;
        cursor: pointer;
    }
    .burger span{
        padding: 0.2rem 2rem;
        background: #000000;
        margin: 0.5rem 0rem;
        display: block;
        transition: all 0.5s ease;
    }
    .nav-links a{
        color: white;
        font-size: 2rem;
    }
    .nav-links a:hover{
        color: white;
    }
    .nav-links{
       background: rgba(18, 16, 16, 0.9);
       width: 100%;
       height: 100%;
       position: fixed;
       top: 0;
       left: 100%;
       flex-direction: column;
       align-items: center;
       transition: transform 1s ease;
    }
 
    .nav-open{
        transform: translateX(-100%);
    }
    .toggle .line1{
        transform: rotateZ(45deg) translateY(300%);
        background: white;
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotateZ(-45deg) translateY(-300%);
        background: white;
    }

    .office-cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-distributed{
		font: bold 14px 'Comfortaa';
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}

@media screen and (max-width: 380px){
    #logo img{
        max-height: 32px;
    }
    
    .office-card iframe{
        width: 100%;
    }
}